.containerInputText{
    width: 100%;
    height: 40px;
    position: relative;
}

.inputText{
    background-color: #FFF;
    border: none;
    border-radius: 6px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    color: #282828;
    font-family: 'Gotham';
    border:1px solid #dcdcdc;
}

.inputText:focus {
	animation: glow 800ms ease-out infinite alternate;
	outline: none;
}

.inputText::placeholder{
    color: #b4b4b4;
    font-size: 11px;
}

.options{
    width: 100%;
    float: left;
    background-color: #000;;
}


@keyframes glow {
    0% {
		box-shadow: 0 0 5px #dcdcdc
    }	
    100% {
		box-shadow: 0 0 20px #dcdcdc;
    }
}